<style>
    @-webkit-keyframes blinker {
        from { opacity: 1.0; }
        to { opacity: 0.0; }
    }
    .spinner {
        display: block;
        margin: 0 auto 0 auto;
        text-align: center;
        -webkit-animation-name: blinker;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: cubic-bezier(.5, 0, 1, 1);
        -webkit-animation-duration: 1.7s;
    }
</style>
<div class="spinner">
...
</div>